<main>
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <h1>Online Habit Tracker System
            </h1>
            <img src="/images/DailyHabits.gif" alt="Making Habits!" width="100%" />
            <div class="card card-body text-center">
                <h5 class="card-title">Welcome To Online Habit Tracker System</h5>
                <P>The Simplest Habit Tracker App on this Planet</P>
                <a href="/user/sign-in" class="btn btn-primary  mb-2">Sign-In</a>
                <a href="/user/sign-up" class="btn btn-secondary btn-block">Sign-Up</a>
            </div>
        </div>
    </div>
</main>